body {
    text-align: center;
    line-height: 160%; 
    font-size: 16px;  
    margin: 0;  
    z-index:1;
    background-color: white;
    font-family: "helvetica", "open sans";
}

a:link { color: #141DFF; text-decoration: none;}
a:visited{ color: #141DFF; }
a:hover {text-decoration: underline; background-color: #98ffff;}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #0e005e;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 999;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #0e005e;
}

/* Links inside the navbar */
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 7px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: "helvetica", "open sans"; 
}
  
/* Change background on mouse-over */
.navbar a:hover {
background: white;
color: #0e005e;
}

p { font-size: 20px; font-family: Georgia, "Sans-serif", serif;}
span { font-size: 20px; font-family: Georgia, "Sans-serif", serif;}

article { text-align: left; width: 90%; margin: 0 auto;}
h1 { font-size: 48px; margin: 40px 10px 30px 10px; font-weight: bold; line-height: 54px;}
h2 { font-size: 32px; margin: 10px 10px 30px 10px; font-weight: bold; font-weight: normal; line-height: 38px;}
h3 { font-size: 18px; margin: 30px 10px 10px 10px; font-weight: bold; line-height: 24px;}

@media only screen and (min-width: 768px) {
  article { text-align: left; width: 50%; margin: 0 auto;}
  h1 { font-size: 52px; margin: 40px 10px 30px 10px; font-weight: bold; line-height: 56px;}
  h2 { font-size: 30px; margin: 10px 10px 30px 10px; font-weight: bold; font-weight: normal; line-height: 36px;}
  h3 { font-size: 22px; margin: 10px 10px 10px 10px; font-weight: bold; line-height: 28px;}
}

::-moz-selection { /* Code for Firefox */
    background: #98ffff;
    color: #0e005e;
}
::selection {
    background: #98ffff;
    color: #0e005e;
}

.axis { font: 16px sans-serif; }

div.tooltip {	
    position: absolute;			
    text-align: center;			
    padding: 2px;				
    font: 16px sans-serif;		
    background: white;	
    border: solid;
    border: 1px solid black;		
    border-radius: 5px;			
    pointer-events: none;			
}

.breaker{
    color : #0e005e;
    border : 2px solid #0e005e;
    margin-bottom : 40px;
    margin-top: 120px;
}

.relatedContentContainer{
    height: 200px;
    margin-bottom: 50vh;
}

.relatedContentContainer a:hover{
    background-color: white;
    
}
.relatedContentContainer a{
    color: black;
}

.relatedContent{
    width: 20%;
    height: 100%;
    display: inline-block;
    padding: 5px;
    vertical-align:top;
    margin-bottom: 200px;
}

img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: block;
}

/* body {
    font: 16px Sans-serif;
    text-align: center;
  } */

.node rect {
  /* cursor: move; */
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  /* text-shadow: 0 1px 0 #fff; */
}

.link {
  fill: none;
  stroke: violet;
  stroke-opacity: .4;
}
.link:hover {
  stroke-opacity: .9;
  stroke: violet;
}

.womenColors .link{
    stroke: blueviolet;
}
.womenColors .link:hover {
    stroke-opacity: .8;
    stroke: blueviolet;
}

.menColors .link{
    stroke: #0276FD;
}
.menColors .link:hover {
    stroke-opacity: .8;
    stroke: #0276FD;
}


table {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}
th {
   font-size: 40px;
   width: 25%;
   color: #FE3C72;
}
td {
    width: 25%;
    vertical-align: middle;
    padding-top: 10px;
}


@media only screen and (max-width: 768px) {
    img{
        border-radius: 20px;
        display: block;
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .relatedContent{
        width: 80%;
    }
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}

sup { 
    vertical-align: top; 
    color: #141DFF;
    font-size: 12px;
}
sup:hover{
    color: #FE3C72;
    cursor: pointer;
}

.footnote_1 { 
    font-size: 18px;
    display: none; 
    color: rgb(105, 105, 105);
    text-decoration: none;
    margin: 15px;
}
.footnote_1:hover{
    cursor: pointer;
}

.footnote { 
    font-size: 16px;
    display: none; 
    color: rgb(121, 121, 121);
    text-decoration: none;
}
.footnote:hover{
    cursor: pointer;
}

.dot {
    fill: #FE3C72;
    opacity: 0.8;
    stroke: rgb(124, 30, 57);
    stroke-width: 0.5px;
}

#scatterplot{
    margin-bottom: 25px;
    margin-top: 25px;
}